/* css for studio lesson web page for wsd class at full sail university */

/* color palette=========================================================>
		blueish gray - (hex)#eae8ed (rgb)234, 232, 237
		blue - (hex)#445394 (rgb)68, 83, 148
		red - (hex)#cf1ds9 (rgb)207, 29, 41   */
		

/* padding & margin control ------------------------------------------- */

header, nav, div, p, ul, li, aside, article, footer, img, a, ol, section, blockquote, h1, h2,
h3, h4, span {
	margin: 0 auto;
	padding: 0px;
}

/* main font rules */

.text_main {
	font-family: oxygen, calibri, sans-serif;
	font-size: 106.3%;
}

/* site header ------------------------------------------------------- */

body {
	background-color: rgb(234, 232, 237);
	background-image: url(../images/bg_gradient.jpg);
	max-width: 960px;
 	padding-top: 1.0416667%; /* 10px/960px */
  	padding-bottom: 1.0416667%; /* 10px/960px */
	margin: 0 auto;
}

header {
	background-color: rgba(68, 83, 148, 0.8);
	height: 100px;
	padding: 1.0416667%; /* 10px/960px */
	box-shadow: 2px 2px 2px #111;
	border-radius: 10px;
}

h1 {
	text-indent: -50000px;
	float: left;
}

#logo {
	float: left;
	width: 15.9375%; /* 153px/960px */
	margin-left: 5.8510638%; /* 55px/940px */
}

#logo img {
	width: 100%; /* 153px/960px */
}

#nav_main {
	float: right;
	font-family: "roboto condensed", ariel, sans-serif;
	font-size: 125%;
	text-shadow: 1px 1px 1px #111;
	width: 66.666667%; /* 640px/960px */
	height: 40px; 
	background: rgb(207, 29, 41);
	border-radius: 5px;
}

#nav_main ul {
	list-style-type: none;
	overflow: hidden;
}

#nav_main li {
	float: left;
	display: block;
	width: 33.3333333333333333333333%; /* 213px/640px */
	height: 40px;
	line-height: 40px; 
	text-align: center;
}

#nav_main a {
	display: block;
	border-radius: 5px;
}

#nav_main a:link, #nav_main a:visited {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

#nav_main a:hover {
	background: rgb(255, 255, 255);
	color: rgb(207, 29, 41);
}

#nav_main a:active {
	color: rgb(68, 83, 148);
}

header p {
	float: left;
	width: 66.666667%; /* 640px/960px */
	margin-top: 8px;
	margin-left: 11.25%; /* 108px/960px */
}

header p a {
	background-image: url(../images/button_signup.png);
	background-repeat: no-repeat;
	display: block;
	width: 46.71875%; /* 299px/640px */
	height: 59px;
	color: rgb(255, 255, 255);	
	text-decoration: none;
	border-radius: 6px;	
}

header p a:hover {
	opacity: 0.8;
}

header p a:active {
	color: rgb(68, 83, 148);
}

/*gallery section ---------------------------------------------------- */

#gallery {
	clear: left;
	margin: 40px auto 0px 0px;
	height: 128px;
}

#gallery ul {
	list-style-type: none;
	width: 100%; /* 960px */
	height: inherit;
	overflow: hidden;
}

#gallery li {
	float: left;
	display: block;
	width: 23.75%; /* 228px/960px */
	margin: 0.52083333%; /* 5px/960px */
	overflow: hidden;
}

#gallery li:hover {
	border: 2px solid rgb(207, 29, 41);
}

#gallery a {
	display: block;
	width: 100%;
}

#gallery a:active {
	border: 2px solid rgb(255, 255, 255);
}

/*lesson information section ----------------------------------------- */

h2 {
	font-family: "roboto condensed", ariel, sans-serif;
	font-size: 150%;
}

#lessons_guitar {
	clear: left;
	float: left;
	width: 48.958333%; /* 470px/960px*/
	margin: 25px auto 0px;
	padding: 0.52083333%; /* 5px/960px */
}

#lessons_guitar ul, #lessons_theory ul {
	padding-left: 7.2916667%; /* 35px/480px */
	margin-top: 1.6393443%; /* 5px/305px */ 
	line-height: 175%;
}

#lessons_theory {
	float: left;
	width: 48.958333%; /* 470px/960px*/
	margin: 25px auto 0px;
	padding: 0.52083333%; /* 5px/960px */
}

/* article styling --------------------------------------------------- */

article {
	clear: left;
	float: left;
	width: 64.583333%; /* 620px/960px */
	background: rgba(68, 83, 148, 0.8);
	border-radius: 10px;
	overflow: hidden;
	margin: 40px 1.0416667% 0px 0px; /* 10px/960px */
	padding: 1.6129032%; /* 10px/620px */
	box-shadow: 2px 2px 2px #111;
}

#about_instructor h2 {
	color: rgb(255, 255, 255);
	text-decoration: underline;
	text-shadow: 1px 1px 1px #111;
}

h3 {
	font-family: ariel, sans-serif;
	font-style: italic;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 1px #111;
	text-indent: 4.0322581%; /* 25px/620px */
}

#about_instructor img {
	float: left;
	width: 28.225806%; /* 175px/620px */
	margin: 2.4193548% 2.4193548%  0px 2.4193548%; /* 15px/620px */
	box-shadow: 2px 2px 2px #111;
}

#about_instructor p {
	padding: 2.4193548%; /* 15px/620px */
	color: rgb(255, 255, 255);
	text-align: justify;
	text-shadow: 1px 1px 1px #111;
	line-height: 120%;
}

/* aside styling ----------------------------------------------------- */

aside span {
	float: left;
	width: 29%; 
	padding: 1.0416667%; /* 10px/960px */
	margin: 40px auto 0px;
	background: rgb(255, 255, 255);
	color: rgba(68, 83, 148, 0.8);
	text-shadow: 1px 1px 1px #111;
	text-align: center;
	font-size: 150%;
	box-shadow: 2px 2px 2px #111;
	border-radius: 10px;
}

/* form styling ------------------------------------------------------ */

#signup_plus_rates {
	clear: left;
	background: rgba(255, 255, 255, 0.8);
	height: 360px;
	border-radius: 10px;
	padding: 15px;
	margin: 25px 0px 0px;
	box-shadow: 2px 2px 2px #111;
	overflow: hidden;
}

#wrapper_form {
	float: left;
	width: 50%;
}

.field_type input {
	width: 50%;
	float: right;
	margin-right: 30%;
}

#wrapper_form div {
	margin: 5px auto;
}

.text_button {
	font-family: "roboto condensed", ariel, sans-serif;
	font-weight: bold;
	font-size: 216.666667%; /* 26pt */
	text-shadow: 2px 2px 2px #111;
	text-align: center;
	line-height: 59px;
}

#button_signup {
	background-image: url(../images/button_signup.png);
	display: block;
	width: 63.617021%; /* 299px/470px */
	height: 59px;
	color: rgb(255, 255, 255);	
	text-decoration: none;
	border-radius: 6px;
	margin: 0 auto;
}

#button_signup:hover {
	opacity: 0.8;
}

#button_signup:active {
	color: rgb(68, 83, 148);
}

table {
	float; left;
	width: 50%;
	border-collapse: collapse;
	text-align: center;
}

td {
	border: 1px solid rgb(68, 83, 148);
	width: 25%;
}

/* footer styling ----------------------------------------------------- */

footer {
	clear: left;
	overflow: auto;
}

footer p{
	text-align: center;
	margin: 10px auto;
}

/* media queries ------------------------------------------------------- */

	/* tablet portrait size to standard 960 (devices and browsers) */
	@media screen and (min-width: 768px) and (max-width: 959px) {
	
	header p {
		margin-top: 5px;
	}
	
	article p {
		width: 58.870968%; /* 365px/620px */
		float: right;
	}
	
	aside span {
		line-height: 183%; 
	}	
}

	/* mobile landscape size to tablet portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#logo, #nav_main, #lessons_guitar, #lessons_theory {
		float: none;
		margin: auto;
	}
	
	#logo {
		width: 20%;
	}
	
	header p {
		float: none;
		width: inherit;
		margin: 8px auto; 
	}
	
	#gallery {
		margin-top: 93px;
	}
	
	#lessons_guitar, #lessons_theory {
		width: 90%;
		margin-top: 15px;
	}
	
	article, aside span {
		margin-top: 15px;
	}
	
	article p {
		text-align: left;
	}
	
	aside span {
		font-size: 125%;
		line-height: 189%;
	}
}

	/* mobile portrait size to mobile landscape size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
	#logo, #nav_main, #lessons_guitar, #lessons_theory {
		float: none;
		margin: auto;
	}
	
	#logo {
		display: none;
	}
	
	#nav_main {
		margin-top: 10px;
		height: 80px;
		width: 98%;
	}
	
	#nav_main li {
		height: 80px;
		line-height: 80px;
		font-size: 158.333333%; /* 19pt */
	}
	
	header p {
		float: none;
		width: inherit;
		margin: 33px auto; 
	}
	
	#gallery {
	display: none;
	}
	
	#lessons_guitar {
		width: 90%;
		margin-top: 95px;
	}
	
	#lessons_theory {
		width: 90%;
		margin-top: 15px;
	}
	
	article {
		margin-top: 15px;
		width: 90%;
	}
	
	article p {
		text-align: left;
	}
	
	aside span {
		clear: left;
		margin-top: 15px;
		width: 90%;
		font-size: 100%;
	}
}
	
	