/* css for studio lesson web page for wsd class at full sail university */

#logo {
	float: left;
}

h1 {
	text-indent: -50000px;
}

#gallery {
	clear: left;
}

body {
	background-color: e6e8f2;
}

#nav_main {
	background-color: grey;
	overflow: hidden;
	margin: 0 auto;
}

#nav_main li {
	float: left;
	display: block;
}