/* css for studio lesson web page for wsd class at full sail university */

/* color palette=========================================================>
		blueish gray - (hex)#eae8ed (rgb)234, 232, 237
		blue - (hex)#445394 (rgb)68, 83, 148
		red - (hex)#cf1ds9 (rgb)207, 29, 41   */
		

/* padding & margin control ------------------------------------------- */

header, nav, div, p, ul, li, aside, article, footer, img, a, ol, section, blockquote, h1, h2,
h3, h4, span {
	margin: 0 auto;
	padding: 0px;
}

/* site header ------------------------------------------------------- */

body {
	background-color: rgb(234, 232, 237);
	background-image: url(../images/bg_gradient.jpg);
	max-width: 960px;
 	padding: 1.0416667% 0; /* 10px/960px */
	margin: 0 auto;
}

header {
	background-color: rgba(68, 83, 148, 0.8);
	height: 100px;
	padding: 1.0416667%; /* 10px/960px */
	box-shadow: 2px 2px 2px #111;
	border-radius: 10px;
}

h1 {
	text-indent: -50000px;
	float: left;
}

#logo {
	float: left;
	width: 15.9375%; /* 153px/960px */
	height: 90.909091%; /* 100px/110px */
	margin-left: 5.8510638%; /* 55px/940px */
}

#logo img {
	width: 100%; /* 153px/960px */
}

#nav_main {
	float: right;
	font-family: "roboto condensed", ariel, sans-serif;
	font-size: 125%;
	text-shadow: 1px 1px 1px #111;
	width: 66.666667%; /* 640px/960px */
	height: 36.363636%; /* 40px/110px */
	background: rgb(207, 29, 41);
	border-radius: 5px;
}

#nav_main ul {
	list-style-type: none;
	overflow: hidden;
}

#nav_main li {
	float: left;
	display: block;
	width: 33.3333333333333333333333%; /* 213px/640px */
	height: 36.363636%; /* 40px/110px */
	line-height: 185%; /* 40px/110px */
	text-align: center;
}

#nav_main a {
	display: block;
	border-radius: 5px;
}

#nav_main a:link, #nav_main a:visited {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

#nav_main a:hover {
	background: rgb(255, 255, 255);
	color: rgb(207, 29, 41);
}

#nav_main a:active {
	color: rgb(68, 83, 148);
}

header p {
	float: left;
	width: 66.666667%; /* 640px/960px */
	margin-top: 8px;
	margin-left: 11.25%; /* 108px/960px */
}

header p a {
	background-image: url(../images/button_signup.png);
	display: block;
	width: 46.71875%; /* 299px/640px */
	height: 59%; /* 59px/100px */
	color: rgb(255, 255, 255);	
	text-decoration: none;
	border-radius: 6px;	
}

header p a:hover {
	opacity: 0.8;
}

header p a:active {
	color: rgb(68, 83, 148);
}

/*gallery section ---------------------------------------------------- */

#gallery {
	clear: left;
	margin: 40px auto 0px 0px;
	height: 128px;
}

#gallery ul {
	list-style-type: none;
	width: 100%; /* 960px */
	height: inherit;
	overflow: hidden;
}

#gallery li {
	float: left;
	display: block;
	width: 23.75%; /* 228px/960px */
	margin: 0.52083333%; /* 5px/960px */
	overflow: hidden;
}

#gallery a {
	display: block;
}

#gallery a:hover {
	border: 2px solid rgb(68, 83, 148);
}

#gallery a:active {
	border: 2px solid rgb(255, 255, 255);
}

/*lesson information section ----------------------------------------- */

#lessons_guitar {
	clear: left;
	float: left;
	width: 31.770833%; /* 305px/960px*/
	margin: 10px auto 0px;
	padding: 0.52083333%; /* 5px/960px */
}

h2 {
	font-family: "roboto condensed", ariel, sans-serif;
}

.text_main {
	font-family: oxygen, calibri, sans-serif;
	font-size: 100%;
}

#lessons_theory {
	float: left;
	width: 31.770833%; /* 305px/960px*/
	margin: 10px auto 0px;
	padding: 0.52083333%; /* 5px/960px */
}

/* aside styling ----------------------------------------------------- */

aside span {
	float: left;
	width: 31.770833%; /* 305px/960px*/
	padding: 1.0416667%; /* 10px/960px */
	margin: 5.7291667% 0px; /* 55px/960px */
	background: rgb(255, 255, 255);
	color: rgba(68, 83, 148, 0.8);
	text-shadow: 1px 1px 1px #111;
	text-align: center;
	font-size: 150%;
	box-shadow: 2px 2px 2px #111;
	border-radius: 10px;
}

/* article styling --------------------------------------------------- */

article {
	clear: left;
	background: rgba(68, 83, 148, 0.8);
	border-radius: 10px;
	overflow: hidden;
	padding: 10px;
	box-shadow: 2px 2px 2px #111;
}

#about_instructor h2 {
	color: rgb(255, 255, 255);
	text-decoration: underline;
	text-shadow: 1px 1px 1px #111;
	font-size: xx-large;
}

h3 {
	font-family: ariel, sans-serif;
	font-style: italic;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 1px #111;
	text-indent: 25px;
}

#about_instructor img {
	float: left;
	margin-right: 15px;
	box-shadow: 2px 2px 2px #111;
}

#about_instructor p {
	padding: 15px;
	color: rgb(255, 255, 255);
	text-align: justify;
	text-shadow: 1px 1px 1px #111;
	font-size: 120%;
	line-height: 120%;
}

/* form styling ------------------------------------------------------ */

#form_signup {
	clear: left;
	background: rgb(255, 255, 255);
	height: 360px;
	border-radius: 10px;
	opacity: 0.8;
	padding: 15px;
	margin: 20px 0px 15px 0px;
	box-shadow: 2px 2px 2px #111;
}

.text_button {
	font-family: "roboto condensed", ariel, sans-serif;
	font-weight: bold;
	font-size: 26pt;
	text-shadow: 2px 2px 2px #111;
	text-align: center;
	line-height: 59px;
}

#form_signup a {
	background-image: url(../images/button_signup.png);
	display: block;
	width: 299px;
	height: 59px;
	color: rgb(255, 255, 255);	
	text-decoration: none;
	border-radius: 6px;	
}

#form_signup a:hover {
	opacity: 0.8;
}

#form_signup a:active {
	color: rgb(68, 83, 148);
}